html, body{
padding: 0;
margin: 0;}
h1,h2,h3,h4 {
text-align: center;
font-family: "Comic Sans MS", cursive, sans-serif;
}
.game {
text-align:center;
margin:auto;
padding:auto;
}
.fontPreload{
   position:absolute;
  left:-100px;
  font-family: 'Open Sans', sans-serif;          
 }
